{% extends "layout.html" %}

{% block head %}
<script src="{{url_for('static',filename='global_assets/js/demo_pages/datatables_extension_buttons_init.js')}}"></script>

<script src="{{url_for('static',filename='global_assets/js/plugins/tables/datatables/datatables.min.js')}}"></script>
<script
    src="{{url_for('static',filename='global_assets/js/plugins/tables/datatables/extensions/buttons.min.js')}}"></script>



{% endblock %}


{% block body %}

<h1>
    Shared with me
</h1>
<hr>

<div class="card">
    <div class="card-body">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">

            <div class="datatable-scroll">
                <table class="table datatable-button-init-basic dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
            <thead>
                <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-label="PRN Number: permanent registration number">Name</th>
                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-sort="ascending" aria-label="First Name: activate to sort column descending">Size</th>
                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                        aria-label="Last Name: activate to sort column ascending">Type</th>
                    
                    <th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 100px;">
                        Download</th>
                        
                </tr>
            </thead>
            <tbody>
                  
            {% for file in shared_repos %}
            <tr role="row" class="odd">
                <td style="color:black" class="sorting_1">
                    {% if file.type == 'Folder' %}
                    
                    <a style="color:black" href="#">
                        <i class="{{file.icon}} mr-3 icon-2x"></i> 
                        {{file.name}}
                    </a>
    
                    {% else %}
                    <i class="{{file.icon}} mr-3 icon-2x"></i> 
                    {{file.name}}
                    {% endif %}
                </td>
                <td>{{file.size}}</td>
                <td>{{file.type}}</td>
                <td class="text-center">
                    <a href="{{url_for('repository.shared_download',file_name=file.name,file_type=file.type,path=file.path)}}"><i class="icon-file-download mr-3 icon-1x"></i></a>
                </td>

                
            </tr>
           {% endfor %}
    
            </tbody>
        </table>
    </div>
        </div>
    </div>
</div>

{% endblock %}