{% extends "layout.html" %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h5>{{attendance.year}} {{attendance.branch}}-{{attendance.division}}</h5>
        <h6>{{attendance.subject}}</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <a href="/attendance/automatic/">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <i class="icon-redo mr-3 icon-2x"></i>
                                <div>Automatic <div class="opacity-50">Just click a picture</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6">
                <a href="">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <i class="icon-flip-vertical4 mr-3 icon-2x"></i>
                                <div>Manual <div class="opacity-50">Swipe Left/Right</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock %}