{% from "includes/_macros.html" import active_in_link,active_exact_link,expand_nav_if with context %}
<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-fixed sidebar-expand-md">

        <!-- Sidebar mobile toggler -->
        <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                        <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                        <i class="icon-screen-full"></i>
                        <i class="icon-screen-normal"></i>
                </a>
        </div>
        <!-- /sidebar mobile toggler -->


        <!-- Sidebar content -->
        <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-user">
                        <div class="card-body">
                                <div class="media">
                                        <div class="mr-3">
                                                <a href="#"><img src="{{url_for('static',filename=session.pro_pic)}}"
                                                                width="38" height="38" class="rounded-circle"
                                                                alt=""></a>
                                        </div>

                                        <div class="media-body">
                                                <div class="media-title font-weight-semibold">{{session.fname}}
                                                        {{session.lname}}</div>
                                                <div class="font-size-xs opacity-50">
                                                        <i class="icon-pin font-size-sm"></i>
                                                        &nbsp;Maharashta, India
                                                </div>
                                        </div>

                                        <div class="ml-3 align-self-center">
                                                <a href="#" class="text-white"><i class="icon-cog3"></i></a>
                                        </div>
                                </div>
                        </div>
                </div>
                <!-- /user menu -->


                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                        <ul class="nav nav-sidebar" data-nav-type="accordion">

                                <!-- Main -->
                                <li class="nav-item-header">
                                        <div class="text-uppercase font-size-xs line-height-xs">Main</div> <i
                                                class="icon-menu" title="Main"></i>
                                </li>
                                <li class="nav-item">
                                        <a href="{{url_for('index')}}" id="/"
                                                class="nav-link {{active_exact_link('/')}}">
                                                <i class="icon-home4"></i>
                                                <span>
                                                        Home
                                                </span>
                                        </a>
                                </li>
                                <li class="nav-item">
                                        <a href="{{url_for('profile')}}" id="/profile/"
                                                class="nav-link {{active_in_link('profile')}}">
                                                <i class="icon-profile"></i>
                                                <span>
                                                        Profile
                                                </span>
                                        </a>
                                </li>


                                <li class="nav-item nav-item-submenu {{expand_nav_if('attendance')}}">
                                        <a href="#" id="/attendance/"
                                                class="nav-link {{active_in_link('attendance')}}"><i
                                                        class="icon-copy"></i>
                                                <span>Attendance
                                                        System</span></a>

                                        <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                                <li class="nav-item"><a id="/attendance/"
                                                                href="{{url_for('attendance.index')}}"
                                                                class="nav-link {{active_exact_link('/attendance/')}}">Attendance
                                                                Dashboard</a></li>
                                                <li class="nav-item"><a id="/attendance/automatic/"
                                                                href="{{url_for('attendance.automatic')}}"
                                                                class="nav-link {{active_in_link('automatic')}}">Automatic</a>
                                                </li>


                                                <li class="nav-item"><a id="/attendance/manual/" href="#"
                                                                class="nav-link disabled">Manual <span
                                                                        class="badge bg-transparent align-self-center ml-auto">Coming
                                                                        soon</span></a></li>
                                        </ul>
                                </li>
                                <li class="nav-item">
                                        <a href="{{url_for('repository.index')}}" class="nav-link">
                                                <i class="icon-profile"></i>
                                                <span>
                                                        Repository
                                                </span>
                                        </a>
                                </li>
                                <li class="nav-item">
                                        <a type="button" class="nav-link" style="width: 200px;" data-toggle="modal"
                                                data-target="#modal_meeting">
                                                <i class="icon-profile"></i>
                                                <span>Video Meeting</span>
                                        </a>
                                </li>
                                <!-- /main -->

                        </ul>
                </div>
                <!-- /main navigation -->

        </div>


</div>
<!-- /main sidebar -->

<!-- modal for hosting a meeting -->
<div id="modal_meeting" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Host New Meeting</h5>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                                <div id="errormsg">
                                </div>

                                <h6 class="font-weight-semibold"><i class="fas fa-video"></i> Meetings</h6>

                                <form method="POST" action="{{url_for('repository.videourl')}}" id="uploadform"
                                        enctype="multipart/form-data" onsubmit="">
                                        <div>
                                                <label>Enter Meeting Name:</label>

                                                <input type="text" name="meeting" id="meeting" class="form-input-styled"
                                                        required />
                                                <span class="form-text text-muted">Meeting Name should not contain: <b>\
                                                                / : * ? " <> |</b>
                                                </span>

                                        </div>
                                        <hr>
                        </div>

                        <div class="modal-footer">
                                <button class="btn btn-link" data-dismiss="modal"><i
                                                class="icon-cross2 font-size-base mr-1"></i>
                                        Close</button>
                                <a class="btn bg-primary" id="link2" href=""><i
                                                class="icon-checkmark3 font-size-base mr-1"></i> Host</a>
                        </div>
                        </form>
                </div>
        </div>
</div>




<script>
        function set_active_link() {
                var active_link = `{% if request.path.endswith('/') %}{{ request.path }}{% else %}{{ request.path }}/{% endif %}`;

                alert(active_link);
                var element = document.getElementById(active_link);
                //element.classList.add("active");
                //alert(element.className);


                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                element.className += " active";
        }

        //set_active_link()


        //setting up video meeting link
        id = document.getElementById("meeting")
        id.addEventListener("change", () => {
                a = document.getElementById("link2")
                a.href = "https://meet.vallabh.tech/" + id.value
                a.target = "_blank"
                console.log(a.href)
        })
</script>