<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'includes/_staticfiles.html' %}
  {% block head %}{% endblock %}
</head>

<body class="navbar-top">
  {% include "includes/_navbar.html" %}
  <!-- Page content -->
  <div class="page-content">
    {% include "includes/_sidebar.html" %}


    <!-- Main content -->
    <div class="content-wrapper">

      {% include "includes/_page_header.html" %}
      {% block page_header %}
      {% endblock %}

      <!-- Content area -->
      <div class="content">
        {%block body%} {%endblock%}
      </div>
      <!-- /content area -->


      {% include "includes/_footer.html" %}

    </div>
    <!-- /main content -->

  </div>
  <script>
    window.addEventListener('load', function (e) {
      status_button = document.getElementById("connection_status");
      if (navigator.onLine) {
        status_button.className = status_button.className.replace("bg-danger", "bg-success");
        status_button.innerHTML = "Online"

      } else {
        status_button.className = status_button.className.replace("bg-success", "bg-danger");
        status_button.innerHTML = "Offline"
      }
    }, false);

    window.addEventListener('online', function (e) {
      status_button.className = status_button.className.replace("bg-danger", "bg-success");
      status_button.innerHTML = "Online"
    }, false);

    window.addEventListener('offline', function (e) {
      status_button.className = status_button.className.replace("bg-success", "bg-danger");
      status_button.innerHTML = "Offline"
    }, false);
  </script>
</body>

</html>