<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'includes/_staticfiles.html' %}
  {% block head %}{% endblock %}
</head>

<body class="navbar-top">
  {% include "includes/_navbar.html" %}
  <!-- Page content -->
  <div class="page-content">
    {% include "includes/_sidebar.html" %}


    <!-- Main content -->
    <div class="content-wrapper">

      {% include "includes/_page_header.html" %}
      {% block page_header %}
      {% endblock %}

      <!-- Content area -->
      <div class="content">
        {%block body%} {%endblock%}
      </div>
      <!-- /content area -->


      {% include "includes/_footer.html" %}

    </div>
    <!-- /main content -->

  </div>
</body>

</html>