{% extends 'layout.html' %} {% block body %}

<!-- Main navbar -->
<div class="navbar navbar-expand-md navbar-dark">
  <div class="navbar-brand">
    <a href="index.html" class="d-inline-block">
      <img src="../../../../global_assets/images/logo_light.png" alt="" />
    </a>
  </div>

  <div class="d-md-none">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-mobile"
    >
      <i class="icon-tree5"></i>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbar-mobile">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a href="#" class="navbar-nav-link">
          <i class="icon-display4"></i>
          <span class="d-md-none ml-2">Go to website</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- /main navbar -->

<!-- Page content -->
<div class="page-content">
  <!-- Main content -->
  <div class="content-wrapper">
    <!-- Content area -->
    <div class="content d-flex justify-content-center align-items-center">
      <!-- Registration form -->
      <form action="{{ url_for('register') }}" class="flex-fill" method="POST">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div class="card mb-0">
              <div class="card-body">
                <div class="text-center mb-3">
                  <i
                    class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"
                  ></i>
                  <h5 class="mb-0">Create account</h5>
                  <span class="d-block text-muted"
                    >All fields are required</span
                  >
                </div>

                <div
                  class="form-group form-group-feedback form-group-feedback-right"
                >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    name="fname"
                    id="fname"
                  />
                  <div class="form-control-feedback">
                    <i class="icon-user-plus text-muted"></i>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div
                      class="form-group form-group-feedback form-group-feedback-right"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Middle name"
                        name="mname"
                        id="mname"
                      />
                      <div class="form-control-feedback">
                        <i class="icon-user-check text-muted"></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div
                      class="form-group form-group-feedback form-group-feedback-right"
                    >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Last name"
                        name="lname"
                        id="lname"
                      />
                      <div class="form-control-feedback">
                        <i class="icon-user-check text-muted"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div
                      class="form-group form-group-feedback form-group-feedback-right"
                    >
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Create password"
                        name="password"
                        id="password"
                      />
                      <div class="form-control-feedback">
                        <i class="icon-user-lock text-muted"></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div
                      class="form-group form-group-feedback form-group-feedback-right"
                    >
                      <input
                        type="password"
                        class="form-control"
                        placeholder="Repeat password"
                        name="repassword"
                        id="repassword"
                      />
                      <div class="form-control-feedback">
                        <i class="icon-user-lock text-muted"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div
                      class="form-group form-group-feedback form-group-feedback-right"
                    >
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Your email"
                        name="email"
                        id="email"
                      />
                      <div class="form-control-feedback">
                        <i class="icon-mention text-muted"></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div
                      class="form-group form-group-feedback form-group-feedback-right"
                    >
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Repeat email"
                        name="reemail"
                        id="reemail"
                      />
                      <div class="form-control-feedback">
                        <i class="icon-mention text-muted"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="form-check">
                    <label class="form-check-label">
                      Already Registered
                      <a href="{{ url_for('login') }}">Login</a>
                    </label>
                  </div>

                  <div class="form-check">
                    Accept <a href="#">terms of service</a>
                  </div>
                </div>

                <button
                  type="submit"
                  class="btn bg-teal-400 btn-labeled btn-labeled-right"
                >
                  <b><i class="icon-plus3"></i></b> Create account
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- /registration form -->
    </div>
    <!-- /content area -->

    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-light">
      <div class="text-center d-lg-none w-100">
        <button
          type="button"
          class="navbar-toggler dropdown-toggle"
          data-toggle="collapse"
          data-target="#navbar-footer"
        >
          <i class="icon-unfold mr-2"></i>
          Footer
        </button>
      </div>

      <div class="navbar-collapse collapse" id="navbar-footer">
        <span class="navbar-text"> <a href="#">MCOEIT.com</a></span>

        <ul class="navbar-nav ml-lg-auto"></ul>
      </div>
    </div>
    <!-- /footer -->
  </div>
  <!-- /main content -->
</div>
<!-- /page content -->

{% endblock %}
